@font-face {
  font-family: 'Roboto MonoR';  
  src: url('../css/RobotoMono-Regular.ttf'); 
}

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
  -o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);  
  color: #fff;
  overflow: hidden; 
}

* {
  font-family: 'Roboto MonoR', monospace, '微软雅黑';
  letter-spacing: .15em;
}

.page {
  background-color: #222;
  position: absolute;
  box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 0.15),
    8px 8px 16px -10px rgba(0, 0, 0, 0.9);
}

.nitai-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  background: linear-gradient(
    135deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(46, 46, 46, 1) 100%
  );
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 0.3),
    4px 4px 10px -8px rgba(0, 0, 0, 1);
}

#menu{
  height: 340px;
  width: 100px;
  border-radius: 20px;
  margin-left: 3%;
  background: linear-gradient(
    135deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(46, 46, 46, 1) 100%
  );
  box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 0.3),
    4px 4px 10px -8px rgba(0, 0, 0, 1);
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* 指针 */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* 字间距 */
  animation: 
    typing 1.5s steps(25, end),
    blink-caret .6s step-end infinite;
}

/* 打字特效 */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* 打字指针特效 */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(187, 187, 187) }
}

#p1 {
  left: 0;
}

#p2, #p3, #p4, #p5 {
  left: 200%;
  background: linear-gradient(
    135deg,
    rgba(30, 30, 30, 1) 0%,
    rgba(46, 46, 46, 1) 100%
  );
}

/* #p1 { background: #222; }
#p2 { background: #222; }
#p3 { background: #222; }
#p4 { background: #222; }
#p5 { background: #222; } */

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: #222;
}

#t2:target #p1 .icon, 
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #2bbc8a;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#t1:target #home,
#t2:target #blog,
#t3:target #project,
#t4:target #art,
#t5:target #more {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
 }

#menu .icon {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

a {
  text-decoration: none;
}

.title, .hint {
  display: block;
}

.title {
  font-size: 38px;
  font-family: '微软雅黑';
}

.hint {
  font-size: 15px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #FFF;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;

  justify-content: center;
  align-items: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

